body {
    background-color: black;
}

button {
    background: rgb(216, 50, 50) !important;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.red-heart-img {
    border-radius: 10px;
    border: none;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-image: url();
    transition: 0.15s;
}

.exemple-button:hover {
    color: rgb(0, 0, 0);
    opacity: 0.7;
}

.exemple-button:active {
    color: rgb(0, 0, 0);
    opacity: 0.5;
}