.main-menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #171717;
}

@font-face {
    font-family: "Pixel";
    src: url(../../assets/font/PressStart2P-Regular.ttf);
}

.main-menu-header {
    margin: 15px;
}

.main-menu-logo {
    color: rgb(34, 157, 73);
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-family: Pixel;
    word-spacing: -25px;
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    height: 50px;
    width: 280px;
    background-color: #1F1F1F;
    color: #c8c8c8;
    font-size: 20px;
    cursor: pointer;

    border-radius: 5px;
    transition: 0.15s;
    margin-top: 10px;
    margin-bottom: 10px;
}



.buttons button:hover {
    background-color: #c8c8c8;
    color: #1F1F1F;
}

.buttons button:active {
    height: 45px;
    width: 270px;
    transition: 0.01s;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    column-gap: 40px;
    margin: auto;
    margin-top: 50px;
}

#green-button
{
    background-color: rgb(34, 157, 73) ;
    color: #000000 ;
    font-weight: 450;
}

#green-button:hover
{
    background-color: #c8c8c8;
    color: rgb(34, 157, 73);
}

#green-button:active {
    height: 45px;
    width: 270px;
    transition: 0.01s;
}

.text-about {
    color: #c2c2c2;
    width: 50%;
    font-size: 20px;
    text-align: center;

}

.text-about-head {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-bottom: 15px;
    display: block;
}

.main-menu-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-footer {
    display: flex;
    align-items: center;
    justify-content: end;
}

.creators-text {
    color: #c2c2c2;
    font-size: 20px;
    font-weight: normal;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
}

.text-container {
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .main-menu-logo {
        color: rgb(34, 157, 73);
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
        margin: 0;
        font-family: Pixel;
        word-spacing: -25px;
    }

    .text-about {
        color: #c2c2c2;
        width: 90%;
        font-size: 20px;
        text-align: center;
    }

    .buttons
    {
        margin-top: 0;
    }

    .buttons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .main-menu {
        background-color: #171717;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-top: 50px;
    }

    .main-menu-logo {
        color: rgb(34, 157, 73);
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
        margin: 0;
        font-family: Pixel;
        word-spacing: -25px;
    }

    .text-about {
        color: #c2c2c2;
        width: 90%;
        font-size: 20px;
        text-align: center;
    }
}

