* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

.blocks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
padding: 15px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .left
  {
    max-width: 50vw;
  }
}

@media screen and (max-width: 800px) {
  .blocks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 7% 15px 7%;
  }
  .left
  {
    max-width: 100% ;
  }
}

@media screen and (max-width: 600px) {
  .blocks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 15px;
    gap: 10px;
  }
  
  .left
  {
    max-width: 100%;
  }
}

.left
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left,
.right {
  padding-left: 10px;
  padding-right: 10px;
}

.code-constainer {
  background-color: #1F1F1F;
  width: 100%;
  height: 200px;
  overflow: auto;
  border-radius: 15px;
}

.code-constainer span {
  display: inline-block;
  font-family: "Code";
  font-size: 15px;

}

.code-text pre {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  overflow: visible !important;

}

pre code {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;

}

#user-answer,
.user-answer-empty {
  text-decoration: none;
  margin: 10px 20px;
  margin-bottom: -15px;
  width: 70%;
  padding-bottom: 0;
  overflow: hidden;
  font-size: 15px;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 15px;
  resize: none;
  font-family: 'Code';
  color: rgb(230, 219, 116);
  border-bottom: none;
  height: 25px;
  transition: 0.15s;
}

.user-answer-empty {
  color: rgb(34, 157, 73) !important;
  border-bottom: 3px solid rgb(34, 157, 73) !important;
}

#user-answer:focus {
  color: rgb(230, 219, 116);
  border: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(34, 157, 73);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(34, 157, 73);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(34, 157, 73);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(34, 157, 73);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(34, 157, 73);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(34, 157, 73);
}

.code-text {
  font-family: 'Code';
  color: #c2c2c2;

  padding: 10px 20px;
  font-size: 15px;
  white-space: pre;
  word-spacing: normal;
  width: 100%;
}

.type-head {
  color: #c2c2c2;
  font-family: 'Code';
  font-size: 20px;
}

@font-face {
  font-family: "Code";
  src: url(../../../../assets/font/FontsFree-Net-MonoLisa-Regular.ttf);
}

label i {
  margin-right: 10px;
  margin-left: 10px;
}

label {
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: 10px;
}

.label-icon {
  height: 25px;
}