.green-flash {
    /* -webkit-box-shadow: 1px 1px 1px 3px rgb(34, 157, 73) inset;
    -moz-box-shadow: 1px 1px 1px 3px rgb(34, 157, 73) inset; */
    box-shadow: inset 0px 0px 20px 20px rgb(34, 157, 73) !important;
}

.red-flash {
    /* -webkit-box-shadow: 1px 1px 1px 3px rgb(34, 157, 73) inset;
    -moz-box-shadow: 1px 1px 1px 3px rgb(34, 157, 73) inset; */
    box-shadow: inset 0px 0px 20px 20px firebrick !important;
}

iframe
{
    transition: 0.7s;
}