hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.sidenav,
.sidenav-close {
    width: 400px;
    height: 100%;
    background-color: #1F1F1F;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

.sidenav-close {
    margin-right: -400px;
   
}

.level-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 10px;
}

.level-counter {
    display: flex;
    flex-direction: row;
}

.counter-head {
    color: #818181;
    display: block;
    font-size: 20px;
    white-space: nowrap;
}

.checkmark {
    width: 20px;
    height: 10px;
    border-top: 5px solid rgb(34, 157, 73) !important;
    border-right: 5px solid rgb(34, 157, 73) !important;
    transform: rotate(130deg);
    transition: 0.5s;
    margin-top: 1px;
    margin-left: 5px;
}



.bar-level-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90px;
}

.arrows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40px;
}


.hamburger-menu-container {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
}

.hamburger-menu {
    width: 32px;
    height: 32px;
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.15s;

}

.hamburger-menu:hover {
    opacity: 0.7;
    width: 35px;
    height: 35px;
}

.hamburger-menu:active {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.help-block {
    color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectorName {
    font-size: 20px;
    color: #c8c8c8;
}

.title {
    margin-top: 10px;
    font-size: 20px;
    color: #7b7b7b;
}


.hint {
    margin-top: 20px;
    font-size: 18px;
    color: #848484;
}

.examples-title {
    margin-top: 40px;
    font-size: 20px;
    color: #c8c8c8;
}

.examples {
    margin-top: 10px;
}

.example-test {
    margin-top: 20px;
    font-size: 18px;
    color: #c8c8c8;
}

.bar-close {
    margin-right: -400px;
}

.level-bar-open {
    width: 400px;
    height: 100vh;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #1F1F1F;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
}

.level-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.close-hiden
{
   display: none;
}
.close {
    position: relative;
    margin-top: -3px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: 0.15s;
}

.close:hover {
    opacity: 1;
}

.close:active:before,
.close:active::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #c8c8c8;
    margin-top: 3px;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #c8c8c8;
    ;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.level-item-button {
    width: 100%;
    border: none;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: transparent;

}

button>div {
    pointer-events: none;
}

.level-item {
    display: grid;

    grid-template-columns: 25px 25px 1fr;
    column-gap: 15px;
    transition: 0.15s;

}

.level-item-button:hover {
    background-color: rgb(64, 64, 64);
    border-radius: 5px;
}

.level-item-button:active {
    background-color: rgb(64, 64, 64);
    border-radius: 5px;
    opacity: 0.6;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-text {
    display: flex;
    align-items: center;
}



.list-checkmark-complete,
.list-checkmark {
    width: 16px;
    height: 8px;
    transform: rotate(130deg);
    transition: 0.15;
    margin-top: -5px;
}

.list-checkmark-complete {
    border-top: 4px solid rgb(34, 157, 73) !important;
    border-right: 4px solid rgb(34, 157, 73) !important;
}

.list-checkmark {
    border-top: 4px solid rgb(109, 109, 109) !important;
    border-right: 4px solid rgb(109, 109, 109) !important;
}

.item-name {
    color: #7b7b7b;
    font-size: 18px;
    text-align: start;
}

.item-index {
    color: #7b7b7b;
    font-size: 18px;
}

.shot-screen-level-bar
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.side-bar-button {
    
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: rgb(34, 157, 73);
    word-spacing: -8px;
    transition: 0.15s;
}

.side-bar-button:hover {
    opacity: 0.7;
}

.side-bar-button:active {
    opacity: 0.5;
}