.header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    padding: 0 10px 0 10px;
    width: 100%;
    margin-top: 20px;
}

.none-icon {
    display: none;
}

.home {
    width: 32px;
    height: 32px;
   margin-top: -2px;
    transition: 0.15s;
}

.menu {
    width: 30px;
    height: 30px;
   
    transition: 0.15s;
}

.home:hover
{
    opacity: 0.7;
    width: 35px;
    height: 35px;
    transition: 0.15s;
}
.menu:hover {
    opacity: 0.7;
    width: 33px;
    height: 33px;
    transition: 0.15s;
}

.home:active,
.menu:active {
    width: 30px;
    height: 30px;
    transition: 0.15s;
}

.header-logo-container,
.header-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.logo {
    color: rgb(34, 157, 73);
    font-size: 35px;
    font-weight: 400;
}

@media screen and (min-width: 1200px) {
    .list-icon {
        display: none;
    }
    
}

@media screen and (max-width: 600px) {
    .logo {
        color: rgb(34, 157, 73);
        font-size: 30px;
        font-weight: 400;
    }
    
}