.header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    padding: 0 10px 20px 10px;
    width: 100%;
    margin-top: 17px;
    height: 35px;
}

.menu-open {
    display: none;
}

.home,
.menu {
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

.home:hover,
.menu:hover {
    opacity: 0.7;
    width: 35px;
    height: 35px;
}

.home:active,
.menu:active {
    width: 30px;
    height: 30px;
}

.logo-container,
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.logo {
    color: rgb(34, 157, 73);
    font-size: 25px;

}