.main-page,
.main-page-short {
    background-color: #171717;
    display: grid;
    grid-template-columns: 1fr 400px;
    min-height: 100vh;
}

.main-page-short {
    display: grid;
    grid-template-columns: 1fr auto;
}

.main {

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.7s;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.sidebar-close {
    margin-right: -400px;
    transition: 0.5s;
}

