.MainPage {
    background-color: #171717;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.main {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    overflow-y: auto;

}