.help-button {
    border-radius: 10px;
    border: none;
    background-color:rgb(34, 157, 73);
    color: #c8c8c8;
   
    transition: 0.15s;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 800;
}

.help-button:hover {
    color: rgb(0, 0, 0);
}

.help-button:active {
    color: rgb(0, 0, 0);
    height: 30px;
    padding-left: 7px;
    padding-right: 7px;

    box-shadow: none;
}