.footer {
    display: grid;
    grid-template-columns: 4fr auto;
    background-color: transparent;
    width: 100%;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.creator-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator-text {
    color: #c8c8c8;
    font-size: 14px;
}

.icons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.icon {
    width: 30px;
    height: 30px;
}