.buttons-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 2fr;
    margin-top: 20px;
    width: 300px;

    margin-left: auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow_right,
.arrow_left,
.arrow-right-disable,
.arrow-left-disable {
    width: 25px;
    height: 25px;
    border-top: 8px solid rgb(34, 157, 73) !important;
    border-right:8px solid rgb(34, 157, 73) !important;
    border-radius: 3px;
    transition: 0.1s;
}

.arrow_left,
.arrow-left-disable {
    transform: rotate(-135deg);
}

.arrow_right,
.arrow-right-disable {
    transform: rotate(45deg);
}

.arrow_left:hover,
.arrow_right:hover,
.arrow-right-disable:hover,
.arrow-left-disable:hover {
    border-top: 8px solid #c8c8c8 !important;
    border-right: 8px solid #c8c8c8 !important;
    border-radius: 3px;
    width: 25px;
    height: 25px;
}

.arrow_right:active,
.arrow_left:active {
    width: 20px;
    height: 20px;
    border-radius: 0px;
    border-top: 6px solid #c8c8c8 !important;
    border-right: 6px solid #c8c8c8 !important;
    border-radius: 2px;
}