#error-page {
    background-color: #171717;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text-container {
    width: auto;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.error-headine
{
    padding: 0;
}

.error-text {
    color: #c8c8c8;
}