#error-page {
    background-color: #171717;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text-container {
    width: auto;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.error-headine
{
    padding: 0;
    color:  rgb(34, 157, 73);
    font-size: 40px;
}

.error-404-text
{
    font-size: 40px;
    color: #c8c8c8;
}

.error-text {
    color: #c8c8c8;
    font-size: 25px;
}