.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.508);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 58%;
  
  background: #1F1F1F;
  border-radius: 10px;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 50px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modal-header {
  border-bottom: 3px solid #292929;
  justify-content: space-between;
}

.modal-footer {
  border-top: 3px solid #292929;
  justify-content: flex-end;
}

.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-body {
  overflow: auto;
}

.modal-content {
  padding: 1rem;
  color: #c8c8c8;
  font-size: 13px;
  white-space: pre-line;
  padding-bottom: 0;
}

.modal-title {
  margin: 0;
  color: rgb(34, 157, 73);
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

.close-button {
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 26px;
  margin-top: 6px;
  margin-bottom: 7px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: rgb(34, 157, 73);
  word-spacing: -8px;
  transition: 0.15s;
}

.close-button:hover
{
  opacity: 0.6;
}